<html>
    <head></head>
    <body>
        <div class="post-edit-form">
            <form method="post" action="" id="edit-form">
                <div class="title">Title <input type="text" name="title"> </div>
                <div class="category">Category <input type="text" name="category"></div>
                <div class="body"> Text <textarea rows="61" cols="107" form="edit-form" name="body"></textarea> </div>
                <input type="submit" class="button" value="Save">
            </form>
        </div>
    </body>
</html>



