<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/main-grid.css">
        <link rel="stylesheet" type="text/css" href="/css/blog.css">
        <title></title>
    </head>
  <body>
      <div id="layout" class="pure-g-r">
        <div class="pure-u-1">
        <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class ="pure-button" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="/archive">Archive</a>
          </li>
        </ul>
    </nav>
      </div>
      <div class="content pure-u-1-2">
          <div class="posts">
          </div>
          </div>
    </div>
  </body>
</html>
